.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 960px;
    height: 960px;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 30px;
}

.row-container div {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.active {
    background-color: black;
}