@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, h1, button{
    color: #F9FAF8;
}

a, .text {
    color: #E5E7EB;
}

/* Home Styling */
.home {
    background-color: #1F2937;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 24px 216px 128px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}


/* Home Content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.text {
    font-size: 18px;
    flex: 1;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 18px;
}

img {
    flex: 1;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
}

/* Info section */
h2, em {
    color: #1F2937;
}

.info {
    padding: 54px 300px 120px;
    text-align: center;
}

h2 {
    margin-bottom: 54px;
    font-size: 36px;
    font-weight: 800;
}

/* Quote Section */
.quote {
    box-sizing: border-box;
    width: 100%;
    background-color: #E5E7EB;
    padding: 132px 356px 108px;
}

em {
    font-size: 36px;
    font-weight: 300;
}

#author {
    text-align: end;
}

